@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

// Navbar
#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  z-index: 1;
  padding: 1rem;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    li {
      a {
        color: white;
        padding: 0.75rem;
        margin: 0 0.25rem;

        &:hover {
          background: #93cb52;
          border-radius: 5px;
        }
      }
    }
  }
}

// Showcase
#showcase {
  background: #333 url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;

  .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;

    // Overlay
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// Section: What We Do
#what {
  .items {
    display: flex;
    padding: 1rem;

    .item {
      flex: 1;
      text-align: center;
      padding: 1rem;

      i {
        background: #93cb52;
        // padding: 1rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
      }
    }
  }
}

// Section: Who We Are
#who {
  display: flex;

  div {
    flex: 1;
  }

  .who-img {
    background: url('../img/people.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

// Section: Clients
#clients {

  .items {
    display: flex;

    img {
      display: block;
      margin: auto;
      width: 60%;
    }
  }
}

// Section: Contact
#contact {
  display: flex;
  height: 471px;

  .contact-form,
  .map {
    flex: 1;
  }

  .contact-form {
    // margin: 0.75rem;

    .form-group {
      margin: 0.75rem;

      label {
        display: block;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }

  .map {
    height: 100%;
    // height: 471px;
    // padding: 2rem;
    margin: 0.75px;
  }
}